/treesheets/Release/
/treesheets/Debug/
/wxwidgets/
osx/TreeSheetsBeta/
osx/TreeSheets/TreeSheets.xcodeproj/project.xcworkspace/xcuserdata/
*.exe
*.zip
*.tar.gz
*.suo
*.ilk
*.pdb
*.bak

TreeSheets/\.vs/treesheets/v15/
