/treesheets/Release/
/treesheets/Debug/
/wxwidgets/
osx/TreeSheetsBeta/
osx/TreeSheets/TreeSheets.xcodeproj/project.xcworkspace/xcuserdata/
*.exe
*.zip
*.tar.gz
*.suo
*.ilk
*.pdb
*.bak
**/*.o

TreeSheets/\.vs/treesheets/v15/

build/treesheets/language/

TS/scripts/\.con\.log
# In-tree build
TS/treesheets
TS/2

# In-tree build CMake files
CMakeCache.txt
CMakeFiles/**
Makefile
cmake_install.cmake
CMakeLists.txt.user
# Build directory for out-of-tree builds
_build/

TreeSheets/.vs

treesheets.cbp
TreeSheets/x64
*.ipdb
*.iobj
TreeSheets/gettext_bin
TS/scripts