[Desktop Entry]
Version=1.0
Type=Application
Name=TreeSheets
GenericName=Hierarchical Spreadsheet
GenericName[it]=Fogli di Calcolo
Comment=A hierarchical spreadsheet / outliner productivity tool.
TryExec=TreeSheets
Exec=TreeSheets %f
Terminal=false
Icon=com.strlen.TreeSheets
MimeType=application/x-treesheets;
Categories=Office;Utility;Spreadsheet;TextEditor;
Keywords=mindmaps;knowledge;organizer;organiser;information;brainstorming;pim;database;todo;
