name: CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build-linux:
    name: Build Linux (${{ matrix.arch }})
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - arch: arm64
            os: ubuntu-24.04-arm
    permissions:
      contents: write
    steps:
    - uses: actions/checkout@v6
    - name: cache build
      uses: actions/cache@v5
      with:
        path: _build/_deps
        key: ${{ runner.os }}-${{ matrix.arch }}-cmake-02-build-${{ hashFiles('CMakeLists.txt') }}
        restore-keys: ${{ runner.os }}-${{ matrix.arch }}-cmake-02-build
    - name: apt update
      run: sudo apt-get -o Acquire::Retries=3 update
    - name: install opengl
      run: sudo apt-get -o Acquire::Retries=3 install mesa-common-dev libgl1-mesa-dev libgl1 libglx-mesa0 libxext-dev
    - name: install gtk
      run: sudo apt-get -o Acquire::Retries=3 install libgtk-3-dev squashfs-tools
    - name: Install fpm
      run: gem install fpm
    - name: cmake
      # starting with wxWidgets 3.3.0 we will be able to use wxUSE_SYS_LIBS
      run: |
        cmake -S . -B _build \
        -DCMAKE_INSTALL_PREFIX=/usr \
        -DCPACK_PACKAGING_INSTALL_PREFIX=/usr \
        -DCMAKE_BUILD_TYPE=Release \
        -DwxBUILD_SHARED=OFF \
        -DwxBUILD_INSTALL=OFF \
        -DwxUSE_REGEX=builtin \
        -DwxUSE_ZLIB=builtin \
        -DwxUSE_EXPAT=builtin \
        -DwxUSE_LIBJPEG=builtin \
        -DwxUSE_LIBPNG=builtin \
        -DwxUSE_LIBTIFF=builtin \
        -DwxUSE_LIBWEBP=builtin \
        -DwxUSE_NANOSVG=builtin \
        -DTREESHEETS_VERSION=${{ github.run_number }}
    - name: build and package TreeSheets
      run: cmake --build _build --target package -j4
    - name: Remove epoch from .deb filename
      run: |
        shopt -s extglob
        for file in _build/treesheets_*:*.deb; do mv -v "${file}" "${file/_+([[:digit:]]):/_}"; done
    - name: build rpm package
      run: |
        shopt -s extglob
        for file in _build/*.deb; do
          fpm -s deb -t rpm -a aarch64 --no-depends --name treesheets $file
        done       
    - name: Create release
      if: github.event_name == 'push'
      uses: ncipollo/release-action@v1
      with:
        tag: ${{ github.run_number }}
        allowUpdates: true
        omitBody: true
        commit: ${{ github.sha }}
        artifacts:
          - "_build/*.deb"
          - "_build/*.rpm"  
    - name: Upload artifacts
      if: github.event_name == 'pull_request'
      uses: actions/upload-artifact@v4
      with:
        name: linux-builds-${{ matrix.arch }}
        path: _build/treesheets*
    - name: Remove CPack artifact
      run: rm -f _build/treesheets*
